*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
}

.category-overview{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

header, main, footer{
    padding: 1rem;
}

/* Header */
header{
    grid-area: header;
    background-color: #F5F5F5;
}

.nav #breadcrumb{
    text-decoration: none
}

.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 2rem;
    right: 0;
}

.nav__toggle #search-box{
    right: 1rem;
}

#close{
    display: none;
}


#menu{
    margin-top: 0.2rem;
}

.nav__checkbox{
    display: none;
}

.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.nav__menu li{
    list-style: none;
    display: none;
}

.nav__menu li:first-child{
    margin-right: auto;
    display : block;
    font-size: 1.2rem;
}

.nav__menu a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

#nav__checkbox:checked ~ ul.nav__menu li{
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close{
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu{
    display: none;
}

#Logo {
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    margin: 1rem auto;
}


/* Main */

main{
    grid-area: main;
}

main section img{
    width: 100%;
    max-width: 600px;
    margin: 1rem;
}

main section{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    margin: 2rem;
    font-weight: 400;
}


main h1{
    text-align: center;
}

section article a {
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.flex-section-sneaker a {
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.shop-nå-btn{
    display:inline-block;
    align-self: center;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    background-color: #353434;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}

.handlekurv{
    text-align: center;
    font-weight: 600;
}

#sammendrag{
    text-align: center;
    font-size: large;
    font-weight: 400;
}

#total-sum {
    font-weight: bold;
    font-size: 25px;
}

#total-sum, #sammendrag{
    margin: 1rem;
}

#betalingsmåter{
    list-style: none;
    display: flex;
    font-size: 50px;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 400;
    margin: 1rem;
}

#pay-btn{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    background-color: #000000;
    padding: 1rem;
    margin: 1rem;
}


/* Footer */



footer{
    grid-area: footer;
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
    background-color: #F5F5F5;
}

.social-icons{
    display: flex;
    justify-content: center;

}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}
.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.footer-nav{
    margin: 30px 0px;
}

.footer-nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.footer-nav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-bottom{
    background-color:rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.footer-bottom p{
    font-size: 1.2em;
    color: black;
    opacity: 0.5;
}

.designer{
    opacity: 1;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px 5px;
}



* body, p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}



/* Desktop design */ 
@media only screen and (min-width: 600px){

    .container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
    }

    header{
        top: auto;
    }
    
    main h1{
        grid-area: 1 / 1 / 2 / 4;
        
    }
    
    main {
    display: flex;
    flex-direction: column;
    }

    /* index.html */
    .product-section-salg{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: auto; 
    }

    .product-section-damesko{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .product-section-herresko{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: auto;
    } 

    .flex-section-kategorier{
        grid-area: 3 / 1 / 6 / 4;
    } 
    .flex-section-kategorier {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .flex-section-kategorier h1{
        display: flex;
        justify-content: center;
    }  

    /* produkt.html */

    .flex-section-produkt{
        grid-area: 3 / 1 / 6 / 4;
    }
    
    .flex-section-produkt{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    /* handlekurv.html */
    .flex-section-sneaker{
        grid-area: 3 / 2 / 6 / 3;
    }
    
    #pay-btn{
        grid-area: 8 / 2 / 8 / 3;
    }

    #betalingsmåter{
        grid-area: 7 / 2 / 7 / 3;
    }

    .handlekurv{
        grid-area: 2 / 2 / 3 / 3;
    }

    #sammendrag{
        grid-area: 6 / 2 / 6 / 3;
    }
    .flex-section-sneaker {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .flex-section-sneaker a{
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        color: rgb(204, 204, 204);

    }

    /* footer */

    footer{
        position: absolute;
        width: 100%;
    }

    .nav__toggle{
        display: none;
    }

    .nav__menu{
        flex-direction: row;
    }

    .nav__menu li{
        display: block;
    }


    .footer-nav ul{
        flex-direction: row;
        justify-content: center;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }

}